In [3]:
a=12
b=23
if a<b:
    print("a")
else:
    print("b")

a

In [7]:
a=12
b=23
print("a") if a<b else print("b")#Short Hand If ... Else

a

In [15]:
a=15
b=12
if a<b :
    print("a")
elif a==b:
    print("a=b")
else:
    print("b")

b

In [29]:
a=12
b=12

print("a") if a<b else print("a=b") if a==b else print("b") #Short Hand If ... Else

a=b

In [35]:
a=12
b=16
c=14
if a<b and b>c:
    print("b is greater")

b is greater

In [39]:
a=12 
b=41
c=14
if a<b or c<b:     # a logical operator, and is used to combine conditional statements
    print("a<b or c<b")

a<b or c<b

In [41]:
a=16
b=48
if not a>b:
    print("a is not greater than b")

a is not greater than b

In [47]:
x = 16

if x > 10:
  print(">10")  #Nested If  
  if x > 20:
    print(" >20")
  else:
    print(" <20")

>10
 <20

In [49]:
a=16
b=48
if not a>b: #pass statement to avoid getting an error. with no content
    pass

# While Loop

In [9]:
i = 0
while i <= 6:
    print(i)
    i += 1

0
1
2
3
4
5
6

In [14]:
i = 0
while i <= 6:
    print(i)
    if i== 4:
        print("its breaking")
        break
    i += 1

0
1
2
3
4
its breaking

In [20]:
i = 0
while i <= 6:
    i += 1
    if i== 4:
        print("we dont need 4")
        continue
    print(i)

1
2
3
we dont need 4
5
6
7

In [28]:
i=0
while i<6:
    print(i)
    i+=1
else:
    print("this is bigger than 6")

0
1
2
3
4
5
this is bigger than 6

# For Loop

In [2]:
fruits=["apples","banana","cherry"]
for x in fruits:
    print(x)

apples
banana
cherry

In [4]:
fruits=["apples","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apples
banana

In [6]:
fruits=["apples","banana","cherry"]
for x in fruits:
    if x=="banana":
        break
    print(x)

apples

In [8]:
fruits=["apples","banana","cherry"]
for x in fruits:
    if x=="banana":
        continue
    print(x)

apples
cherry

In [10]:
for x in range(6):  #To loop through a set of code a specified number of times range is used
  print(x)

0
1
2
3
4
5

In [12]:
for x in range(2, 6): #which means values from 2 to 6 (but not including 6):
  print(x)

2
3
4
5

In [18]:
for x in range(2, 30, 3): #which means values from 2 to 6 Increment the sequence with 3
  print(x)
else:   #block of code to be executed when the loop is finished:
    print("finished")

2
5
8
11
14
17
20
23
26
29
finished

In [20]:
for x in range(2, 30, 3): #which means values from 2 to 6 Increment the sequence with 3
    if x ==14: break #The else block will NOT be executed if the loop is stopped by a break statement
    print(x) 
else: 
    print("finished")

2
5
8
11

In [22]:
fruits=["apples","banana","cherry"]
col=['green','yellow','red']
for x in fruits:
    for y in col:  #Nested Loops
        print(x,y)

apples green
apples yellow
apples red
banana green
banana yellow
banana red
cherry green
cherry yellow
cherry red

In [24]:
for x in [0, 1, 2]:
  pass       #pass statement to avoid getting an error

# Functions

In [43]:
def my_function(x,y):  # 2 arguments == 2 parametrs, not more, and not less.
  print(x + " " + y)

my_function("Emil", "Refsnes")

Emil Refsnes

In [41]:
def my_function(x):  
  print(x )

my_function("Emil")

Emil

In [45]:
def my_function(*x):  #arguments is unknown add *
  print(x)

my_function("Emil","linus","pavan")

('Emil', 'linus', 'pavan')

In [47]:
def names(name1,name4,name2,name3):   #Keyword Arguments
    print("1=",name3)
names(name1="pavan",name2="emil",name3="varun",name4="digvi")

1= varun

In [51]:
def name(**kid):
    print(kid["fname"]+kid["lname"])
name(fname="varun",lname="r")

varunr

In [53]:
def contry(name="india"):
    print("contry is "+name)
contry("Philippines")
contry("USA")
contry()

contry is Philippines
contry is USA
contry is india

In [55]:
def nam(x,/):
    print(x)
nam("var")

var

In [57]:
def nam(*,x):
    print(x)
nam(x="name")

name

In [59]:
def nam(x,y,/,*,z):
    print(x,y,'is',z)

nam(2,4,z=input())

 5

2 4 is 5

# Recursion

In [68]:
def fact(x):   #to find the factorial of an integer
    if x==1:
        return 1
    else:
        return x*fact(x-1)

print(fact(x=int(input("put the positive no"))))

put the positive no 5

120

In [72]:
def fibo(x):
    if x<=1:
        return 1
    else:
        return fibo(x-1)+fibo(x-2)
y=input("pls positive no")
for i in range(y):
    print(fibo(y))

pls positive no 58

TypeError: 'str' object cannot be interpreted as an integer