# VARIABLE NAMING AND OUPUT

In [14]:
hi= 'Hello world'
print(hi)

Hello world

In [15]:
a,b,c="hello","welcom","123"
print(a+b+c)
print(a)
print(b)
print(c)

hellowelcom123
hello
welcom
123

In [16]:
fruit=["mango","apple","cherry"]
x,y,z=fruit
print(x,y,z)

mango apple cherry

# Wrong Way

In [18]:
2my=hello
print(2my)

SyntaxError: invalid decimal literal (1755471732.py, line 1)

In [20]:
a=5
b="hello"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
a=5
b="hello"
print(a,b)

5 hello

In [24]:
2+2.9

4.9

# DATA TYPE

In [28]:
x=1
y=2.9
z=5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Casting

In [43]:
x= int(5.6)
y= int("56")
z= int(56)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

5 56 56
<class 'int'>
<class 'int'>
<class 'int'>

In [45]:
x= float(5.6)
y= float("56")
z= float(56)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

5.6 56.0 56.0
<class 'float'>
<class 'float'>
<class 'float'>

In [47]:
x= str(5.6)
y= str("56")
z= str(56)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

5.6 56 56
<class 'str'>
<class 'str'>
<class 'str'>

# String

In [61]:
a="hello"
print(a)

hello

In [82]:
a='''hi Varun
vvce 
b,tec'''#multi line string
print(a)

hi Varun
vvce
b,tec

# String Slicing

In [65]:
a="Hello, World!"
print(a[4])# Get the character at position (ARRAY)
print(len(a))# length id the string
print(a[5:8])#Slicing [from:to(not included)]
print(a[:6])#slicing from start
print(a[2:])#slicing to end

o
13
, W
Hello,
llo, World!

# Modify Strings

In [70]:
a="Hello, World!"
print(a.upper())# changes everything to upper case
print(a.lower())# changes everythimg to lowe case

HELLO, WORLD!
hello, world!

In [72]:
a="    Hello,   world!   "
print(a.strip())# Remove the Whitespace is the space before and/or after the actual text but not in between

Hello,   world!

In [74]:
a = "Hello, World!"
print(a.replace("H", "J"))# ("replaces this char", " to this char")

Jello, World!

In [76]:
a = "Hello, World!"
print(a.split(",")) # ("split everywhere this letter repeats")
print(a.split("o"))

['Hello', ' World!']
['Hell', ', W', 'rld!']

In [80]:
a="hello"
b="world"
c=a+b #Concatenation
print(c)# printing
print(a+b)#Concatenation
print(a+" "+b)#Concatenation and adding the space

helloworld
helloworld
hello world

# Lists

In [21]:
mylist=["apple",'banana',3,True,'mango','cherry']

In [23]:
print(mylist)
print(len(mylist))
print(type(mylist))

['apple', 'banana', 3, True, 'mango', 'cherry']
6
<class 'list'>

# Access the list

In [26]:
print(mylist[4])
print(mylist[4:6])
print(mylist[:5])
print(mylist[4:])
print(mylist[-5])
print(mylist[-4:-2])
print(mylist[:-1])
print(mylist[-5:])

mango
['mango', 'cherry']
['apple', 'banana', 3, True, 'mango']
['mango', 'cherry']
banana
[3, True]
['apple', 'banana', 3, True, 'mango']
['banana', 3, True, 'mango', 'cherry']

# change list items

In [36]:
mylist=["apple",'banana',3,True,'mango','cherry']
mylist[2]="hello"
print(mylist)

['apple', 'banana', 'hello', True, 'mango', 'cherry']

In [40]:
mylist=["apple",'banana',3,True,'mango','cherry']
mylist[2:5]="hi","world"
print(mylist)

['apple', 'banana', 'hi', 'world', 'cherry']

In [42]:
mylist=["apple",'banana',3,True,'mango','cherry']
mylist.insert(2, "watermelon")
print(mylist)

['apple', 'banana', 'watermelon', 3, True, 'mango', 'cherry']

In [44]:
mylist=["apple",'banana',3,True,'mango','cherry']
mylist.append("orange")
print(mylist)

['apple', 'banana', 3, True, 'mango', 'cherry', 'orange']

In [52]:
mylist=["apple",'banana',3]
oulist=[True,'mango','cherry']
mylist.extend(oulist)
print(mylist)
hi=("hello","world")
mylist.extend(hi)
print(mylist)

['apple', 'banana', 3, True, 'mango', 'cherry']
['apple', 'banana', 3, True, 'mango', 'cherry', 'hello', 'world']

In [58]:
mylist=["apple",'banana',3,True,'mango','cherry']
mylist.pop()
print(mylist)
mylist.remove(3)
print(mylist)
mylist=["apple",'banana',3,True,'mango','cherry']
mylist.pop(4)
print(mylist)

['apple', 'banana', 3, True, 'mango']
['apple', 'banana', True, 'mango']
['apple', 'banana', 3, True, 'cherry']

In [60]:
mylist=["apple",'banana',3,True,'mango','cherry']
x = mylist.pop(2)

In [62]:
x

3

In [78]:
mylist=["apple",'banana',3,True,'mango','cherry']
x = mylist.pop(2)
x

3

In [82]:
mylist.clear()
print(mylist)
del mylist
print(mylist)

[]

NameError: name 'mylist' is not defined

In [74]:
fruits = ['apple', 'banana', 'cherry']
newlist = ['apple' for x in fruits]
newlist

['apple', 'apple', 'apple']

# Loop List

In [1]:
mylist=["apple",'banana',3,True,'mango','cherry']
for x in mylist:
    print(x)

apple
banana
3
True
mango
cherry

In [5]:
thislist=["hello","hi"]
for i in range(len(thislist)):
  print(thislist[i])

hello
hi

In [15]:
mylist=["apple",'banana',3,True,'mango','cherry']
[print(x)for x in mylist]

apple
banana
3
True
mango
cherry

[None, None, None, None, None, None]

# List Comprehension

In [20]:
mylist=["apple",'banana','mango','cherry']
newlist = [x for x in mylist if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [24]:
#The Syntax
#newlist = [expression for item in iterable if condition == True]

'The Syntax\nnewlist = [expression for item in iterable if condition == True]'

In [28]:
mylist=["apple",'mango','cherry','banana']
mylist.sort()
print(mylist)

['apple', 'banana', 'cherry', 'mango']

In [30]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [32]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [38]:
mylist=["apple",'banana',3]
oulist=[True,'mango','cherry']
for x in oulist:
  mylist.append(x)
print(mylist)
mylist.extend(oulist)
print(mylist)
hi=("hello","world")
mylist.extend(hi)
print(mylist)

['apple', 'banana', 3, True, 'mango', 'cherry']
['apple', 'banana', 3, True, 'mango', 'cherry', True, 'mango', 'cherry']
['apple', 'banana', 3, True, 'mango', 'cherry', True, 'mango', 'cherry', 'hello', 'world']

# Tuples

In [10]:
mytuple=("a","b","c","d","e","f")
print(mytuple)
print(len(mytuple))
print(type(mytuple))
print(mytuple[1]) #accessing the tuple
print(mytuple[-1]) #accessing the tuple can be negitive indexing
print(mytuple[1:5])#Range of Indexes
print(mytuple[-4:-1])#Range of Indexes can be negitive

('a', 'b', 'c', 'd', 'e', 'f')
6
<class 'tuple'>
b
f
('b', 'c', 'd', 'e')
('c', 'd', 'e')

# Update Tuples

In [17]:
mytuple=("a","b","c","d","e","f")
y=list(mytuple) #Convert into a list
y[2]="e"
mytuple=tuple(y) #Convert into a tuple
print(mytuple)

('a', 'b', 'e', 'd', 'e', 'f')

In [19]:
mytuple=("a","b","c","d","e","f")
y=list(mytuple) #Convert into a list
y.append("ee") 
mytuple=tuple(y) #Convert into a tuple
print(mytuple)

('a', 'b', 'c', 'd', 'e', 'f', 'ee')

In [23]:
mytuple=("a","b","c","d","e","f")
y=("ee",)

mytuple += y  #Add tuple to a tuple
print(mytuple)

('a', 'b', 'c', 'd', 'e', 'f', 'ee')

In [25]:
mytuple=("a","b","c","d","e","f")
y=list(mytuple) #Convert into a list
y.remove("a")
mytuple=tuple(y)#Convert into a tuple
print(mytuple)

('b', 'c', 'd', 'e', 'f')

In [29]:
mytuple=("a","b","c")
(x,y,z)=mytuple
print(x)
print(y)
print(z)

a
b
c

In [31]:
mytuple=("a","b","c","d","e","f")
(x,y,*z)=mytuple
print(x)
print(y)
print(z)

a
b
['c', 'd', 'e', 'f']

In [33]:
mytuple=("a","b","c","d","e","f")
(x,*y,z)=mytuple
print(x)
print(y)
print(z)

a
['b', 'c', 'd', 'e']
f

# Looping in tuple

In [41]:
mytuple=("a","b","c","d","e","f")  # for loop
for x in mytuple:  
  print(x)
for i in range(len(mytuple)): #using len() in functiom
  print(mytuple[i])

a
b
c
d
e
f
a
b
c
d
e
f

In [1]:
mytuple=("a","b","c","d","e","f")
i=0
while i < len(mytuple):
    print(mytuple[i])
    i += 1

a
b
c
d
e
f

In [3]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
tuple4 = tuple2 * 2
print(tuple3)
print(tuple4)

('a', 'b', 'c', 1, 2, 3)
(1, 2, 3, 1, 2, 3)

# Dictionaries

In [30]:
thisdict={
    "x" : 1,
    "y" : "hello", # key:value
    "z" : True,
    "colors": ["red", "white", "blue"]
}
print(thisdict["x"]) #printing value
print(thisdict)# print dict
x=thisdict.get("y")
print(x)
y=thisdict.keys()
print(y)
x = thisdict.values()
print(x)
thisdict["zz"]=123
print(thisdict)

1
{'x': 1, 'y': 'hello', 'z': True, 'colors': ['red', 'white', 'blue']}
hello
dict_keys(['x', 'y', 'z', 'colors'])
dict_values([1, 'hello', True, ['red', 'white', 'blue']])
{'x': 1, 'y': 'hello', 'z': True, 'colors': ['red', 'white', 'blue'], 'zz': 123}

# Change Values

In [39]:
thisdict={
    "x" : 1,
    "y" : "hello", # key:value
    "z" : True,
    "colors": ["red", "white", "blue"]
}
thisdict["z"]=False
thisdict.update({"y":"hi"})
print(thisdict)

{'x': 1, 'y': 'hi', 'z': False, 'colors': ['red', 'white', 'blue']}

# Add Items

In [44]:
thisdict={
    "x" : 1,
    "y" : "hello", # key:value
    "z" : True,
    "colors": ["red", "white", "blue"]
}
thisdict["col"] = "red"
thisdict.update({"yy":"hi"})
print(thisdict)

{'x': 1, 'y': 'hello', 'z': True, 'colors': ['red', 'white', 'blue'], 'col': 'red', 'yy': 'hi'}

# remove items

In [51]:
thisdict={
    "x" : 1,
    "y" : "hello", # key:value
    "z" : True,
    "colors": ["red", "white", "blue"]
}
thisdict.pop("x")
print(thisdict)

{'y': 'hello', 'z': True, 'colors': ['red', 'white', 'blue']}

In [53]:
thisdict.popitem() #last inserted item will be removed
print(thisdict)

{'y': 'hello', 'z': True}

In [57]:
thisdict={
    "x" : 1,
    "y" : "hello", # key:value
    "z" : True,
    "colors": ["red", "white", "blue"]
}
del thisdict["x"]
print(thisdict)

{'y': 'hello', 'z': True, 'colors': ['red', 'white', 'blue']}

In [59]:
thisdict.clear()
print(thisdict)

{}

# Nested Dictionaries

In [72]:
Nested={
    "x1":{
        "y":1,
        "z":"hi"
    },
    "x2":{
        "y1":2,
        "zz":"hi"
    },
    "x3":{
        "y2":3,
        "zzz":"hi"
    }
}
print(Nested["x2"]["y1"])#access the nested loop

2

In [78]:
for x,obj in Nested.items(): #looping in nested dictionary
    print(x)
    for y in obj:
        print(y,obj[y])

x1
y 1
z hi
x2
y1 2
zz hi
x3
y2 3
zzz hi