In [12]:
mylist=[]
mtuple=()
mtset=set()

In [11]:
set({1,2})

{1, 2}

In [13]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [15]:
thisset = {"apple", "banana", "cherry", True,False,0, 1, 2} #True and 1 and false and 0 are considered the same value in sets
#Set items can be of any data type:
print(thisset)
print(len(thisset))

{False, True, 2, 'cherry', 'apple', 'banana'}
6

In [21]:
thisset={"apple","banana"}
for i in thisset:
    print(i)
print("banana" in thisset) #Check if "banana" is present in the set
print("banana" not in thisset) #Check if "banana" is not present in the set

banana
apple
True
False

In [20]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [23]:
thisset = {"apple", "banana", "cherry"} # adding the items using add method
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [25]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)  # adding items using update method this can update list or tuple
print(thisset)

{'cherry', 'banana', 'apple', 'pineapple', 'papaya', 'mango'}

In [26]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana") # REMOVING the items from set using remove  method
print(thisset)

{'cherry', 'apple'}

In [27]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana") # REMOVING the items from set using discard  method
print(thisset)

{'cherry', 'apple'}

In [28]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)

cherry

In [29]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
banana
apple

In [34]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
set3 = set1.union(set2)
set5 = set1.union(set2,set3,set4)
print(set3)
print(set5)

{1, 'b', 2, 3, 'c', 'a'}
{1, 'b', 2, 3, 'apple', 'a', 'cherry', 'c', 'bananas'}

In [32]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
set3 = set1 | set2 | set3 | set4
print(set3)

{1, 'b', 2, 3, 'c', 'apple', 'a', 'cherry', 'Elena', 'John', 'bananas'}

In [35]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.intersection(set2)
print(set3)

set()